body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    background: url('../wallhaven.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}


.quotes-container {
    max-width: 700px;;
    height: 35vh;    
    display: flex;
    flex-direction: column;    
    padding: 10px;  
    position: relative;
    
    figure {               
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 25vh;
    }  

    &_body {
        font-size: 25px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-bottom: 40px;
        color: white;
        text-align: left;
        
        
    }
    

    &_author {
        font-size: 18px;
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-right: auto;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        
    }

    .next-quote {
        width: 168px;
        height: 40px;
        margin: 0 auto;
        font-size: 18px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
        cursor: pointer;
        border-radius: 5px;
        border: none;
        outline:none;
        transition: 0.4s ease-in-out;


        &:hover, &:focus {
            background: darken(#EFEFEF, 5% );
            font-size: 20px;
        }
    }
}


